<!DOCTYPE html>
<html>
<head>
    <title>Florida Power Crawler</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <script type="text/javascript" src="/static/js/jquery-latest.js"></script>
    <script type="text/javascript" src="/static/js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="/static/js/sort.js"></script>
</head>

<body>
    <header>
        <h1>Electricity usage for week {{ week_number }}</h1>
    </header>

    {% for day in week %}
    <div class="div-container">
      <div class="div-container-header">
        <div id="div-day">
          {{ week_str[loop.index - 1] }}
        </div>
        <div class="div-table">
          <div id="div-table-money">
            Money: {{ summary[loop.index - 1][0][1] }}
          </div>
          <div id="div-table-kwh">
            kWh: {{ summary[loop.index - 1][0][2] }}
          </div>
        </div>
      </div>
      <table id="myTable" class="tablesorter">
          <thead>
            <tr>
                <th>Hour</th>
                <th>Temp</th>
                <th>Dollars</th>
                <th>kWh</th>
            </tr>
          </thead>
          <tbody>
            {% for hour in hours_in_a_day %}
            <tr>
                <td> {{ day[hour][1] }} </td>
                <td> {{ day[hour][4] }} °F </td>

                {% if day[hour][2] >= threshold %}
                <td id="threshold"> ${{ day[hour][2] }} </td>
                <td id="threshold"> {{ day[hour][3] }} </td>
                {% else %}
                <td> ${{ day[hour][2] }} </td>
                <td> {{ day[hour][3] }} </td>
                {% endif %}
            </tr>
            {% endfor %}
          </tbody>
      </table>
      <div class="div-container-footer">
        {% if summary[loop.index - 1][0][3] == None %}
          No comment
        {% else %}
          {{ summary[loop.index - 1][0][3] }}
        {% endif %}
      </div>
    </div>
    {% endfor %}

    <footer>
        <div id="prev">
            <a href="/week/{{ year }}/{{ week_number - 1 }}">Prev</a>
        </div>
        <div id="next">
            <a href="/week/{{ year }}/{{ week_number + 1 }}">Next</a>
        </div>
    </footer>
</body>
</html>
