/*******
 * DIV *
 *******/
#div-day {
  padding: 5px 0px 5px 0px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

.div-table {
  display: table;
  padding: 5px 5px 5px 5px;
  width: 95%;
  font-size: 1em;
  font-weight: bold;
}

#div-table-money {
  display: table-cell;
  text-align: left;
}

#div-table-kwh {
  display: table-cell;
  text-align: right;
}

.div-container {
  border: 1px solid black;
  display: inline-block;
  margin: 10px 0px 0px 0px;
}

.div-container-header {
  background-color: #536e8e;
}

.div-container-footer {
  width: 100%;
  padding: 10px 0px 10px 0px;
  text-align: center;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: black;
  background-color: #779ECB;
  /* background-color: #b3ccff; */
  /* background-color: #536e8e; */
  /* font-size: 0.7em; */
}

/****************
* TABLE styling *
****************/
table {
    border-collapse: collapse;
    /* border-width: 1px 1px 0px 1px; */
    /* border-style: solid; */
    /* border-color: #2e8cff; */
    width: 300px;
}

th, td {
    text-align: center;
    padding: 5px 0px 5px 0px;
}

th {
    background-color: #779ECB;
    color: #000000;
}

tr:nth-child(odd) {
    background-color: #D0D0D0;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#threshold {
    background-color: #ff6961;
}

table.tablesorter thead tr .header {
  padding-right: 20px;
  background-image: url(bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
  padding-right: 20px;
  background-image: url(asc.gif);
}

table.tablesorter thead tr .headerSortDown {
  padding-right: 20px;
  background-image: url(desc.gif);
}
