body {
    background-color: #f2f2f2;
    background-repeat: no-repeat;
}

header {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 100px;
    border: 1px solid #000000;
    background: #3758b7 url("header.jpg") no-repeat left top;
}

header h1 {
    color: #f2f2f2;
    text-shadow: 2px 2px #000000;
}


/*******
 * DIV *
 *******/
.div-container {
  border: 1px solid black;
  display: inline-block;
  margin: 10px 0px 0px 0px;
}

.div-container-header {
  background-color: #536e8e;
}

#div-day {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
}

.div-table {
  display: table;
  padding: 5px 5px 5px 5px;
  width: 95%;
  font-size: 1em;
  font-weight: bold;
}

#div-table-money {
  display: table-cell;
  text-align: left;
}

#div-table-kwh {
  display: table-cell;
  text-align: right;
}


/****************
* TABLE styling *
****************/
table {
    border-collapse: collapse;
    border: 1px solid #2e8cff;
    width: 300px;
}

th, td {
    text-align: center;
    padding: 5px 0px 5px 0px;
}

th {
    background-color: #779ECB;
    color: #000000;
}

tr:nth-child(odd) {
    background-color: #D0D0D0;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#threshold {
    background-color: #ff6961;
}

table.tablesorter thead tr .header {
  padding-right: 20px;
  background-image: url(bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
  padding-right: 20px;
  background-image: url(asc.gif);
}

table.tablesorter thead tr .headerSortDown {
  padding-right: 20px;
  background-image: url(desc.gif);
}


/**********
 * FOOTER *
 * *******/
footer {
    background-color: #D0D0D0;
    padding: 50px 0px 20px 0px;
    margin: 20px 0px 0px 0px;
    clear: left;
    width: 100%;
    font-size: 2em;
}

footer a {
  color: black;
  text-decoration: none;
}

footer a:hover {
  background-color: #D9D9D9;
  color: #2e8cff;
}

#prev {
  /* min-width: 200px; */
  text-align: center;
  background-color: #D0D0D0;
  margin-left: 40px;
  display: inline;
  border: 1px solid #000000;
}

#next {
  /* min-width: 200px; */
  text-align: center;
  background-color: #D0D0D0;
  margin-right: 40px;
  float: right;
  border: 1px solid #000000;
}
